body {
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(212, 212, 212, 1); }
.material-icons.md-light.md-inactive { color: rgba(212, 212, 212, 0.3); }
.container-fluid {
	padding-left: 0px !important;
}

ul {
	padding-left: 0px;
	list-style: none;
}
@media only screen and (max-width: 1024px) {
	.head-title {
		font-size: 45px !important;
		line-height: 45px !important;
		padding-top: 100px;
	}
}

/* Header Section */
/* LEFT HEADER */
.header-left {
	height: 650px;
	background-color: #1DC5EA;
	color: #ffffff;
	padding-left: 4% !important;
	padding-top: 25px;
}

.head-title {
	font-size: 90px;
	line-height: 90px;
	padding-top: 100px;
}

.head-content {
	font-size: 30px;
	padding-top: 20px;
}

/* RIGHT HEADER */
.header-right {
	height: 650px;
	background-color: #F5F5F5;
	padding-left: 6% !important;
	padding-top: 6% !important;
}

.header-right h3 {
	color: #1DC5EA;
}

.header-right hr {
	width: 90%;
	float: left;
	border-top: 2px solid #C3C3C3;
	margin-bottom: 40px;
}

.header-right .arrow {
	float: right;
}

.header-right .header-right-list {
	padding-left: 0 !important;
}

.header-right .header-right-list li {
	margin-bottom: 20px;
}

.header-right .header-right-list li a {
	color: #5B5B5B !important;
}

.header-right .header-right-list li a:hover {
	color: #C3C3C3 !important;
	text-decoration: none;
}
/* Header Section */

/* Menu Nav Section */
.menu-nav {
	text-align: center;
}

.menu-nav .menu-list {
	margin: 12px auto;
}

.menu-nav .menu-list li {
	display: inline-block;
	padding: 10px 20px;
}

.menu-nav .menu-list li a {
	color: #C3C3C3 !important;
}

.menu-nav .menu-list li a.active {
	color: #00C5EA !important;
}

.menu-nav .menu-list li a:hover {
	color: #5B5B5B !important;
	text-decoration: none;
}
/* Menu Nav Section */

/* Banner Section */
.banner-left {
    background: url('../images/video-img.png') no-repeat;
    height: 500px;
    background-size: cover;
    background-position: right;
}

.banner-right {
	background-color: #1DC5EA;
	height: 500px;
    padding: 60px 15px 0 30px !important;
    color: #ffffff;
    overflow: auto;
}

.banner-content {
    margin-bottom: 50px;
    margin-top: 30px;
}

.banner-right a {
    color: #ffffff;
    margin-bottom: 20px;
}

.banner-right a:hover {
    text-decoration: none;
    color: #E9E9E9;
}

.banner-btn {
    margin-bottom: 30px;
}

.banner-btn-left {
	padding: 6px;
    border: 1px solid #ffffff;
    vertical-align: middle;
}
/* Banner Section */

/* Contact Section */
.contact-left {
	background-color: #1DC5EA;
	color: #ffffff;
	padding: 40px 4% 20px 11% !important;
}

.contact-left h3 {
	text-align: center;
}

.contact-left .contact-text {
	text-align: center;
	margin: 15px auto 40px !important;
	width: 70%;
}

.contact-form-div {
	margin-bottom: 20px;
}

input[type="text"], input[type="email"], select, textarea {
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 5px 10px;
	width: 100%;
	color: #ffffff;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('../images/dropdown-arrow.png');
    padding: .5em;
    padding-right: 1.5em;
    border-radius: 0;
}

select option {
	margin-left: 20px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #ffffff !important;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
	color: #ffffff !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
	color: #ffffff !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
	color: #ffffff !important;
}

.submit-btn {
	float: right;
	padding: 10px;
	color: #00C5EA;
	background-color: #ffffff;
	border: 1px solid #1DC5EA;
}

.submit-btn:hover {
	color: #38dfff;
	border: 1px solid #38dfff;
}

.contact-form-div .day-error, .contact-form-div .time-error, .contact-form-div .number-error {
	display: none;
}

.contact-right {
	background-color: #F5F5F5;
	padding: 20px 15px 15px 30px !important;
}

.contact-right hr {
	border-top: 2px solid #C3C3C3;
	margin-bottom: 40px;
}

.contact-right .contact-list li {
	margin-bottom: 15px;
	color: #5B5B5B;
}
.contact-right .contact-list li span {
	padding: 10px;
}
.contact-right .contact-list .facebook-logo {
	height: 24px;
}
/* Contact Section */

/* Footer Section */
.footer-section {
	background-color: #2D2D2D;
	color: #DDDDDD !important;
	text-align: center;
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.footer-section .signup {
	margin: 25px auto;
}

.footer-section .signup .signup-text{
	text-align: right;
	padding-top: 5px;
}

.footer-section .signup-btn {
	padding: 5px;
	color: #ffffff;
	background-color: #1DC5EA;
	border: 1px solid #1DC5EA;
}

.footer-section .signup .subscribe{
	text-align: left;
}

.footer-menu {
	margin: 25px auto;
}

.footer-menu li {
	display: inline;
	font-size: 11px;
	padding: 0 15px;
}

.footer-menu li a {
	color: #DDDDDD !important;
}
.footer-menu li a:hover {
	text-decoration: none;
	color: #ffffff;
}

.footer-section .hr1 {
	border-top: 2px solid #C3C3C3;
	margin-bottom: 40px;
}

.footer-section .hr2 {
	border-top: 1px solid #C3C3C3;
	margin-bottom: 10px;
	margin-top: 30px;
}

.footer-section .copyright {
	text-align: right;
	margin-bottom: 15px;
	padding-right: 0 !important;
}
/* Footer Section */